<div id="<%= dom_id time_slot %>">
  <p>
    <strong>Poll:</strong>
    <%= time_slot.poll_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= time_slot.date %>
  </p>

  <p>
    <strong>Starts at minute:</strong>
    <%= time_slot.starts_at_minute %>
  </p>

  <p>
    <strong>Ends at minute:</strong>
    <%= time_slot.ends_at_minute %>
  </p>

</div>
