<div id="<%= dom_id poll %>">
  <p>
    <strong>Token:</strong>
    <%= poll.token %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= poll.title %>
  </p>

  <p>
    <strong>Creator cookie:</strong>
    <%= poll.creator_cookie_id %>
  </p>

  <p>
    <strong>Creator name:</strong>
    <%= poll.creator_name %>
  </p>

  <p>
    <strong>Expires at:</strong>
    <%= poll.expires_at %>
  </p>

</div>
